@import 'base/variables';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
	max-width: 950px;
	margin: 0 auto;
	position: relative;
}

@import 'blocks/promo.scss';
@import 'blocks/header.scss';
@import 'blocks/button.scss';
@import 'blocks/benefits.scss';
@import 'blocks/title.scss';
@import 'blocks/consultation.scss';
@import 'blocks/forms.scss';
@import 'blocks/carousel.scss';
@import 'blocks/catalog.scss';
@import 'blocks/reviews.scss';