.benefits{
	padding: 70px 0 83px 0;
	&__title{
		font-weight: bold;
		font-size: 30px;
		text-align: center;
		color: #0D0D0D;
	}
	&__wrapper{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 65px;
	}
	&__item{
		width: 277px;		
		img{
			display: block;
			margin: 0 auto;
			width: 70px;
			height: 70px;
		}
		@media (max-width: 576px){
			width: 100%;
			margin-bottom: 60px;
		}
	}
	&__descr{
		margin-top: 30px;
		font-weight: bold;
		font-size: 18px;
		text-align: center;
		color: #0D0D0D;

	}
	&__subdescr{
		margin-top: 20px;
		font-weight: 300;
		font-size: 14px;
		text-align: center;
		color: #0D0D0D;
		a{
			text-transform: uppercase;
			color: $main-color;
			text-decoration: underline
		}
	}
}