.title{
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	color: #0D0D0D;
	text-transform: uppercase;
	&_left{
		font-size: 36px;
		text-align: left;
		color: #fff
	}
	@media (max-width: 768px){
		font-size: 30px;
	}
	@media (max-width: 576px){
		font-size: 25px;
		text-align: center;
	}
}
